
ul{
  background-color: grey;
  width: 100%;
  justify-content: space-between;
}
.nav-item{
  text-decoration: none;
  a{
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-size: 24px;

  }
  .title__nav--link{
    letter-spacing: 3px;
    font-size: 24px;
  }
}