
ul{
  background-color: grey;
  height: 40px;
  width: 100%;
  justify-content: space-between;
}
.nav-item{
  text-decoration: none;
  .nav-link_create{
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-size: 20px;
    border-bottom: 2px solid black;
    padding: 0px 3px;
    text-decoration: none;
  }
  i{
    color: white;
    font-size: 25px;
  }
  
}
